/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
../docker/**/*
composer.phar
public/vendor
composer.lock
routes.txt
*.LICENSE.txt

public/css/*
public/js/app.js
public/js/tabs.js

!.keep
