.root-page {
    margin-top: 15%;
}

.root-page .title {
    font-size: 4em;
    font-weight: 500;
}

.root-page a {
    font-size: 20px;
}

.form-control.is-invalid {
    background-image: none;
}

.invalid-error {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}

.select-group {
    position: relative;
}

.select-group ul {
    list-style-type: none;
    display: none;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    z-index: 1;
    padding: 0.375rem 0.75rem;
    overflow-y: scroll;
    height: 150px;
}

.select-group .select-group-header {
    cursor: pointer;
}

.select-group .select-group-header > i:hover {
    opacity: 0.7;
}
.form-control.select-group.is-invalid {
    padding-right: inherit;
}
.success-message {
    color: #1d643b;
}
